.transparent{
    position: relative;
}

.transparent-block{
    position: absolute;
    margin-top: -5.75em;
}

.advantage-title{
    /* font-family: 'Gilroy'; */
font-style: normal;
font-weight: 400;
font-size: 3em;
line-height: 139.5%;
text-align: center;
color: #121212;
}

.advantage-subtitle{
    /* font-family: 'Gilroy'; */
font-style: normal;
font-weight: 300;
font-size: 1.25em;
line-height: 120%;
text-align: center;
letter-spacing: 0.035em;
color: #121212;
margin-top: 1.25em;
}

.advantage-cards{
    display: flex;
    justify-content: center;
    gap: 1.25em;
    flex-wrap: wrap;
    padding: 0 0.9375em;
    margin-top: 3.125em;
}

.tarif-plans{
    margin-top: 6.25em;
}

.tarif-title{
    /* font-family: 'Gilroy'; */
font-style: normal;
font-weight: 600;
font-size: 3em;
line-height: 139.5%;
text-align: center;
color: #121212;
}

.tarif-cards{
    display: flex;
    justify-content: center;
    gap: 0.9375em;
    margin-top: 1.5em;
    padding: 0 0.9375em;
}


@media all and (max-width: 576px){
    .advantage-title{
    font-weight: 600;
    font-size: 8vw;
    line-height: 122%;
    }
    
    .advantage-subtitle{
    font-weight: 400;
    font-size: 4vw;
    line-height: 144%;
    margin: 0 auto;
    margin-top: 5vw;
    width: 66.500vw;
    }
    
    .advantage-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        padding-left: 5.250vw;
        padding-right: 5.500vw;
        margin-top: 10vw;
    }

    .tarif-plans{
        margin-top: 17.500vw;
    }
    
    .tarif-title{
    font-size: 8vw;
    }
    
    .tarif-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        margin-top: 10vw;
        padding-left: 14vw;
        padding-right: 14.250vw;
    }

    .transparent-block{
        margin-top: -23vw;
    }
    
}